body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#cadastroCompleto {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: auto;
}

h1, h2 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 0.9rem;
}

.formGroup input, .formGroup select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.formGroup input[type="date"] {
    padding: 10px 12px;
}

.formGroup select {
    cursor: pointer;
}

button[type="submit"], .btnFinalizar {
    width: 100%;
    background-color: #28af42;
    color: #fff;
    border: none;
    padding: 12px 15px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button[type="submit"]:hover, .btnFinalizar:hover {
    background-color: #218838;
}

.btnFinalizar {
    background-color: #007bff;
}

.btnFinalizar:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    color: #777;
    font-size: 0.9rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

ul li button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li button:hover {
    background-color: #c82333;
}

/* Media query para telas muito pequenas, como celulares em modo retrato */
@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.25rem;
    }

    #cadastroCompleto {
        padding: 15px;
    }

    button[type="submit"], .btnFinalizar {
        padding: 10px 12px;
        font-size: 0.9rem;
    }
}
