.ponto{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--green-success);
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
}

#baterPonto{
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 28rem;
  height: 28rem;
  background-color: var(--white-background);
  border-radius: 50%;
}

#baterPontoIcon{
  width: 20rem;
  height: 20rem;
}

#baterPontoText{
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  color: var(--grey-neutral);
  font-weight: 500;
}