:root {
  --blue-primary: #1E90FF;    
  --green-success: #32CD32;   
  --grey-neutral: #708090;    
  --yellow-warning: #FFD700;  
  --orange-alert: #FF4500;    
  --white-background: #F5F5F5; 
  --black-text: #151515;      
}

html{
  font-size: 62.5%;
  color: var(--black-text);
}

#root{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}